services:
  mitmproxy:
    image: mitmproxy/mitmproxy:${image_ver}
    container_name: mitmproxy
    pull_policy: always
    restart: unless-stopped
    command: 
      - mitmweb
      - --no-web-open-browser
      - --web-host
      - 0.0.0.0
      - --set
      - web_password=${web_password}
    ports:
      - 48080:8080
      - 48081:8081
      - 38080:38080
      - 38081:38081
    extra_hosts:
      - host.docker.internal:host-gateway
