services:
  server:
    image: jaegertracing/jaeger:${image_tag:-latest}
    hostname: jaeger
    pull_policy: always
    restart: unless-stopped
    environment:
      - LOG_LEVEL=debug
    ports:
      - 16686:16686
      - 4317:4317
      - 4318:4318
      - 5778:5778
      - 9411:9411
