services:
  server:
    image: grafana/grafana:${image_tag:-latest}
    hostname: grafana
    pull_policy: always
    restart: unless-stopped
    environment:
      - GF_PLUGINS_PREINSTALL_SYNC=grafana-pyroscope-app
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    volumes:
    - ./provisioning:/etc/grafana/provisioning
    ports:
      - 3000:3000
    extra_hosts:
      - host.docker.internal:host-gateway
