services:
  comfyui:
    image: jianshao/comfyui-rt:${image_tag}
    container_name: comfyui-server
    pull_policy: always
    restart: unless-stopped
    command: "python main.py --listen 0.0.0.0"
    environment:
      - https_proxy=${https_proxy:-}
      - HF_XET_HIGH_PERFORMANCE=${HF_XET_HIGH_PERFORMANCE:-1}
    volumes:
      - ~/.ssh:/home/devel/.ssh
      - ${model_cache_path:-~/.cache}:/home/devel/.cache
      - ${comfyui_root}:/home/devel/comfyanonymous/ComfyUI
      - ${comfyui_mgr_root}:/home/devel/Comfy-Org/ComfyUI-Manager
      - ./install-models.sh:/home/devel/.local/bin/install-models.sh
    ports:
      - 8188:8188
