services:
  server:
    image: mariadb:${image_ver}
    hostname: mariadb-server
    pull_policy: always
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - data:/var/lib/mysql
    ports:
      - 3306:3306
volumes:
  data:
