services:
  server:
    image: jianshao/ollama:${ollama_image_tag}
    hostname: ollama-server
    pull_policy: always
    restart: unless-stopped
    volumes:
      - ${model_cache_path:-~/.ollama}:/home/ubuntu/.ollama
    environment:
      - https_proxy=${https_proxy:-}
      - OLLAMA_FLASH_ATTENTION=${OLLAMA_FLASH_ATTENTION:-1}
    ports:
      - 11434:11434
