services:
  server:
    image: cassandra:${image_ver}
    hostname: cassandra
    pull_policy: always
    restart: unless-stopped
    environment:
      - HEAP_NEWSIZE=${HEAP_NEWSIZE:-100M}
      - MAX_HEAP_SIZE=${MAX_HEAP_SIZE:-512M}
    volumes:
      - data:/var/lib/cassandra
    ports:
      - 9042:9042
volumes:
  data:
