services:
  server:
    image: valkey/valkey:${image_ver}
    hostname: redis-server
    pull_policy: always
    restart: unless-stopped
    volumes:
      - valkey-data:/data
    ports:
      - 6379:6379
volumes:
  valkey-data: